{
  "openapi": "3.0.3",
  "info": {
    "title": "nomos.gg API",
    "version": "1.0.0",
    "description": "HTTP API for the nomos.gg game-dev toolkit — narrative, worlds, entities, and 3D generation.\n\n## Authentication\n\nCreate a key with `POST /api-keys`, then send:\n\n`Authorization: Bearer YOUR_API_KEY`\n\nSigned-in workspace sessions also work with Try it in this browser.\n\n## Base URL\n\nAll paths are relative to `/api`. Production: `https://nomos.gg/api`.\n\n## What’s in this reference\n\n- **API Keys** — issue and revoke bearer keys\n- **MCP** — Model Context Protocol over HTTP for agents and automations\n- **Storyteller** — projects, characters, episodes, beats, bible, plan, and generation jobs\n- **Entities** — shared characters, locations, and items\n- **World** — tile map read and write\n- **3D Canvas** — text-to-3D jobs\n\nStreaming chat and autonomous draft are not part of this REST reference.",
    "termsOfService": "https://nomos.gg/terms",
    "contact": {
      "name": "nomos.gg",
      "url": "https://nomos.gg"
    }
  },
  "servers": [
    {
      "url": "https://nomos.gg/api",
      "description": "Production"
    },
    {
      "url": "/api",
      "description": "This origin"
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "JSON-RPC 2.0 over HTTP for AI agents and automations."
    },
    {
      "name": "API Keys",
      "description": "Issue and revoke bearer API keys."
    },
    {
      "name": "Entities",
      "description": "Characters, locations, and items shared across modules."
    },
    {
      "name": "Storyteller",
      "description": "Projects, characters, episodes, beats, bible, plan, and generation jobs."
    },
    {
      "name": "World",
      "description": "Tile map read and write."
    },
    {
      "name": "3D Canvas",
      "description": "Text-to-3D generation jobs."
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Create a key with POST /api-keys, then send it as a Bearer token in the Authorization header."
      },
      "Session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sb-access-token",
        "description": "Signed-in workspace session. Try it works in this browser after you log in."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "ServerError": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorBody": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "SuccessMessage": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ]
      },
      "McpJsonRpcResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ]
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ]
          },
          "result": {
            "nullable": true
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "number"
              },
              "message": {
                "type": "string"
              },
              "data": {
                "nullable": true
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "jsonrpc"
        ]
      },
      "McpJsonRpcRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ]
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ]
          },
          "method": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "jsonrpc",
          "method"
        ]
      },
      "ApiKeyListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "expires_at": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "nullable": true
          },
          "last_used_at": {
            "type": "string",
            "nullable": true
          },
          "revoked_at": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ApiKeyListResponse": {
        "type": "object",
        "properties": {
          "apiKeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyListItem"
            }
          }
        },
        "required": [
          "apiKeys"
        ]
      },
      "ApiKeyCreateResponse": {
        "type": "object",
        "properties": {
          "apiKey": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiKeyListItem"
              },
              {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Plaintext key — shown only once"
                  }
                },
                "required": [
                  "key"
                ]
              }
            ]
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "apiKey",
          "message"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [
              "*"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name"
        ]
      },
      "GameEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "entity_type": {
            "type": "string",
            "enum": [
              "character",
              "location",
              "mechanic",
              "faction",
              "item",
              "quest"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "source_domain": {
            "type": "string",
            "enum": [
              "storyteller",
              "loop-creator",
              "3d-canvas",
              "2d-canvas"
            ]
          },
          "source_entity_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "used_in_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "project_id",
          "user_id",
          "entity_type",
          "name",
          "description",
          "source_domain",
          "source_entity_id",
          "metadata",
          "tags",
          "image_url",
          "used_in_domains",
          "created_at",
          "updated_at"
        ]
      },
      "EntitiesListResponse": {
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameEntity"
            }
          }
        },
        "required": [
          "entities"
        ]
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/GameEntity"
          }
        },
        "required": [
          "entity"
        ]
      },
      "CreateEntityRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "enum": [
              "character",
              "location",
              "mechanic",
              "faction",
              "item",
              "quest"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "sourceDomain": {
            "type": "string",
            "enum": [
              "storyteller",
              "loop-creator",
              "3d-canvas",
              "2d-canvas"
            ]
          },
          "sourceEntityId": {
            "type": "string",
            "format": "uuid"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "projectId",
          "entityType",
          "name",
          "sourceDomain"
        ]
      },
      "UpdateEntityRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "usedInDomains": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "storyteller",
                "loop-creator",
                "3d-canvas",
                "2d-canvas"
              ]
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        }
      },
      "EntityRelationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "from_entity_id": {
            "type": "string",
            "format": "uuid"
          },
          "to_entity_id": {
            "type": "string",
            "format": "uuid"
          },
          "relationship_type": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "id",
          "project_id",
          "from_entity_id",
          "to_entity_id",
          "relationship_type"
        ]
      },
      "RelationshipsListResponse": {
        "type": "object",
        "properties": {
          "relationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityRelationship"
            }
          }
        },
        "required": [
          "relationships"
        ]
      },
      "RelationshipResponse": {
        "type": "object",
        "properties": {
          "relationship": {
            "$ref": "#/components/schemas/EntityRelationship"
          }
        },
        "required": [
          "relationship"
        ]
      },
      "CreateRelationshipRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "fromEntityId": {
            "type": "string",
            "format": "uuid"
          },
          "toEntityId": {
            "type": "string",
            "format": "uuid"
          },
          "relationshipType": {
            "type": "string",
            "enum": [
              "uses",
              "located_in",
              "conflicts_with",
              "allies_with",
              "owns",
              "part_of"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "projectId",
          "fromEntityId",
          "toEntityId",
          "relationshipType"
        ]
      },
      "StorytellerProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "StorytellerProjectList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/StorytellerProject"
        }
      },
      "StorytellerCreateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "seriesBible": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "StorytellerPatchProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "seriesBible": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "storyPlan": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        }
      },
      "StorytellerCharacter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "portraitUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "projectId",
          "name"
        ]
      },
      "StorytellerCharacterList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/StorytellerCharacter"
        }
      },
      "StorytellerCreateCharacterRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "role": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "characterPrompt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "portraitUrl": {
            "type": "string"
          },
          "mbti": {
            "type": "string"
          },
          "voiceSignature": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "name"
        ]
      },
      "StorytellerPatchCharacterRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "portraitUrl": {
            "type": "string"
          }
        }
      },
      "StorytellerBibleResponse": {
        "type": "object",
        "properties": {
          "bible": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "seriesBible": {
            "nullable": true
          },
          "storyPlan": {
            "nullable": true
          }
        },
        "required": [
          "bible"
        ]
      },
      "StorytellerRelationshipGraph": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "character",
                    "place",
                    "event",
                    "faction",
                    "rule",
                    "beat",
                    "episode",
                    "item"
                  ]
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "required": [
                "id",
                "name",
                "type",
                "metadata"
              ]
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "minLength": 1
                },
                "target": {
                  "type": "string",
                  "minLength": 1
                },
                "weight": {
                  "type": "number"
                },
                "type": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "evidence": {
                  "type": "string"
                },
                "llmGrounded": {
                  "type": "boolean"
                }
              },
              "required": [
                "source",
                "target",
                "weight",
                "type"
              ]
            }
          },
          "centralCharacter": {
            "type": "string"
          }
        },
        "required": [
          "nodes",
          "edges"
        ]
      },
      "StorytellerEpisodesResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "title": {
              "type": "string",
              "nullable": true
            },
            "sequence": {
              "type": "number",
              "nullable": true
            }
          },
          "required": [
            "id"
          ]
        }
      },
      "StorytellerEpisodeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "masterPrompt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id"
        ]
      },
      "StorytellerCreateEpisodeRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "sequence": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "masterPrompt": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          }
        },
        "required": [
          "projectId",
          "title",
          "sequence"
        ]
      },
      "StorytellerPatchEpisodeRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "masterPrompt": {
            "type": "string"
          },
          "posterUrl": {
            "type": "string"
          },
          "premise": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        }
      },
      "StorytellerBeat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "episodeId": {
            "type": "string",
            "minLength": 1
          },
          "sequence": {
            "type": "number"
          },
          "logline": {
            "type": "string",
            "nullable": true
          },
          "beatType": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          },
          "visualHook": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "episodeId"
        ]
      },
      "StorytellerBeatList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/StorytellerBeat"
        }
      },
      "StorytellerCreateBeatRequest": {
        "type": "object",
        "properties": {
          "logline": {
            "type": "string"
          },
          "beatType": {
            "type": "string"
          },
          "sequence": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "visualHook": {
            "type": "string"
          }
        }
      },
      "StorytellerPatchBeatRequest": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        }
      },
      "StorytellerBibleLockResponse": {
        "type": "object",
        "properties": {
          "isLocked": {
            "type": "boolean"
          },
          "lockedBy": {
            "type": "string",
            "nullable": true
          },
          "lockedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "isLocked",
          "lockedBy",
          "lockedAt"
        ]
      },
      "StorytellerBibleLockPostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "action": {
            "type": "string",
            "enum": [
              "lock",
              "unlock"
            ]
          },
          "lockedBy": {
            "type": "string",
            "nullable": true
          },
          "lockedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "success",
          "action",
          "lockedBy",
          "lockedAt"
        ]
      },
      "StorytellerBibleLockPostRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "action": {
            "type": "string",
            "enum": [
              "lock",
              "unlock"
            ]
          }
        },
        "required": [
          "projectId",
          "action"
        ]
      },
      "StorytellerPlanResponse": {
        "type": "object",
        "properties": {
          "storyPlan": {
            "nullable": true
          },
          "planApproved": {
            "type": "boolean"
          },
          "currentPhase": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StorytellerSavePlanResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "episode": {
            "nullable": true
          }
        },
        "required": [
          "success"
        ]
      },
      "StorytellerSavePlanRequest": {
        "type": "object",
        "properties": {
          "episodeId": {
            "type": "string",
            "minLength": 1
          },
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "storyPlan": {
            "nullable": true
          },
          "approved": {
            "type": "boolean"
          },
          "currentPhase": {
            "type": "string"
          }
        }
      },
      "StorytellerTimelineResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": {
            "nullable": true
          }
        }
      },
      "StorytellerWorldSummaryResponse": {
        "type": "object",
        "properties": {
          "summarize": {
            "nullable": true
          },
          "worldGenPrompt": {
            "type": "string"
          }
        }
      },
      "StorytellerSnapshot": {
        "type": "object",
        "properties": {
          "beatId": {
            "type": "string",
            "minLength": 1
          },
          "characterId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "beatId",
          "characterId"
        ]
      },
      "StorytellerSnapshotList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/StorytellerSnapshot"
        }
      },
      "StorytellerUpsertSnapshotRequest": {
        "type": "object",
        "properties": {
          "beatId": {
            "type": "string",
            "minLength": 1
          },
          "characterId": {
            "type": "string",
            "minLength": 1
          },
          "stressLevel": {
            "type": "number"
          },
          "emotionalState": {
            "type": "string"
          },
          "transformationProgress": {
            "type": "number"
          },
          "goals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fears": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "beatId",
          "characterId"
        ]
      },
      "StorytellerActionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "StorytellerActionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "payload": {
                "nullable": true
              }
            },
            "required": [
              "type"
            ]
          },
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "episodeId": {
            "type": "string",
            "minLength": 1
          },
          "traceId": {
            "type": "string"
          },
          "reasoning": {
            "type": "string"
          }
        },
        "required": [
          "action"
        ]
      },
      "StorytellerJobQueuedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "handleId": {
            "type": "string"
          },
          "characterId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "handleId"
        ]
      },
      "StorytellerGeneratePortraitRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "characterId": {
            "type": "string"
          },
          "apiKey": {
            "type": "string"
          }
        },
        "required": [
          "prompt",
          "projectId"
        ]
      },
      "StorytellerJobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "output": {
            "nullable": true
          },
          "error": {
            "nullable": true
          }
        },
        "required": [
          "status"
        ]
      },
      "StorytellerGeneratePosterRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "config": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "prompt"
        ]
      },
      "StorytellerMoodboardTriggerRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "providerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "styleReference": {
            "type": "string"
          },
          "promptIndex": {
            "type": "number"
          }
        },
        "required": [
          "projectId"
        ]
      },
      "StorytellerGenerateBeatImageRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "config": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "modelId": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "prompt"
        ]
      },
      "StorytellerConsistencyCheckResponse": {
        "type": "object",
        "properties": {
          "inconsistencies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "fixes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          }
        }
      },
      "StorytellerConsistencyCheckRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "episodeId": {
            "type": "string"
          },
          "trigger": {
            "type": "object",
            "properties": {
              "context": {
                "nullable": true
              }
            }
          }
        },
        "required": [
          "projectId",
          "trigger"
        ]
      },
      "StorytellerConsistencyApplyRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "episodeId": {
            "type": "string"
          },
          "fixes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          }
        },
        "required": [
          "projectId",
          "fixes"
        ]
      },
      "StorytellerConsistencyUndoRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "episodeId": {
            "type": "string"
          },
          "undoId": {
            "type": "string"
          }
        },
        "required": [
          "projectId"
        ]
      },
      "TileListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid"
            },
            "projectId": {
              "type": "string",
              "format": "uuid"
            },
            "project_id": {
              "type": "string",
              "format": "uuid"
            },
            "x": {
              "type": "integer"
            },
            "y": {
              "type": "integer"
            },
            "tilePrompt": {
              "type": "string",
              "nullable": true
            },
            "tile_prompt": {
              "type": "string",
              "nullable": true
            },
            "imageFilename": {
              "type": "string",
              "nullable": true
            },
            "image_filename": {
              "type": "string",
              "nullable": true
            },
            "createdAt": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ]
            },
            "created_at": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          "required": [
            "id",
            "x",
            "y"
          ]
        }
      },
      "TileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "tilePrompt": {
            "type": "string",
            "nullable": true
          },
          "tile_prompt": {
            "type": "string",
            "nullable": true
          },
          "imageFilename": {
            "type": "string",
            "nullable": true
          },
          "image_filename": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              }
            ]
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "x",
          "y"
        ]
      },
      "UpsertTileRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "tilePrompt": {
            "type": "string",
            "default": ""
          },
          "imageFilename": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "projectId",
          "x",
          "y",
          "imageFilename"
        ]
      },
      "DeleteTileRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        },
        "required": [
          "projectId",
          "x",
          "y"
        ]
      },
      "InteriorTextTo3DResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "runId": {
            "type": "string",
            "minLength": 1
          },
          "publicAccessToken": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "success",
          "runId",
          "publicAccessToken"
        ]
      },
      "InteriorTextTo3DRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "minLength": 1
          },
          "prompt": {
            "type": "string",
            "minLength": 1
          },
          "seed": {
            "type": "integer"
          },
          "apiKey": {
            "type": "string"
          },
          "artStyle": {
            "type": "string",
            "enum": [
              "realistic",
              "sculpture"
            ]
          },
          "enablePbr": {
            "type": "boolean"
          },
          "targetPolycount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "topology": {
            "type": "string",
            "enum": [
              "triangle",
              "quad"
            ]
          }
        },
        "required": [
          "projectId",
          "prompt"
        ]
      },
      "InteriorTextTo3DStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "nullable": true,
            "properties": {
              "success": {
                "type": "boolean"
              },
              "modelUrl": {
                "type": "string"
              },
              "thumbnailUrl": {
                "type": "string"
              },
              "retexturedUrl": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "assetId": {
                "type": "string"
              }
            }
          },
          "error": {
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "properties": {
              "progress": {
                "type": "number"
              },
              "stage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "status"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "summary": "MCP JSON-RPC over HTTP",
        "description": "JSON-RPC 2.0 endpoint for MCP tools. Authenticate with a bearer API key.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpJsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpJsonRpcResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Lists the callers MCP API keys (hashes only).",
        "security": [
          {
            "Session": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "description": "Creates a key. Plaintext key is returned once.",
        "security": [
          {
            "Session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke API key",
        "security": [
          {
            "Session": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "List entities",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "character",
                "location",
                "mechanic",
                "faction",
                "item",
                "quest"
              ]
            },
            "required": false,
            "name": "entityType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "storyteller",
                "loop-creator",
                "3d-canvas",
                "2d-canvas"
              ]
            },
            "required": false,
            "name": "sourceDomain",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create entity",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/entities/{entityId}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "Get entity",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "entityId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Entities"
        ],
        "summary": "Update entity",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "entityId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Entities"
        ],
        "summary": "Delete entity",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "entityId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/entities/relationships": {
      "get": {
        "tags": [
          "Entities"
        ],
        "summary": "List entity relationships",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "entityId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Relationships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Create entity relationship",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created relationship",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/projects": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "List projects",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerProjectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Create project",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerCreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/projects/{id}": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get project",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Update project",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerPatchProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/characters": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "List characters",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Character list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerCharacterList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Create character",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerCreateCharacterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Character",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerCharacter"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Update character",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerPatchCharacterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Character",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerCharacter"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Delete character",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/characters/{characterId}": {
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Update character by id",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "characterId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerPatchCharacterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Character",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerCharacter"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/bible": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get series bible",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Series bible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBibleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/relationships": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get relationship graph",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerRelationshipGraph"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/episodes": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "List episodes",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Episode list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerEpisodesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Create episode",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerCreateEpisodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerEpisodeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/episodes/{episodeId}": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get episode",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerEpisodeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Update episode",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerPatchEpisodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerEpisodeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Delete episode",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/episodes/{episodeId}/beats": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "List episode beats",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Beat list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBeatList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Create beat",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerCreateBeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBeat"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/beats/{beatId}": {
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Update beat",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "beatId",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerPatchBeatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBeat"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Delete beat",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "beatId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/bible/lock": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get World Bible lock status",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBibleLockResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Lock or unlock series bible",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerBibleLockPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bible lock updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerBibleLockPostResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/plan": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get story plan",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "episodeId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Story plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerPlanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Save story plan",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerSavePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Story plan saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerSavePlanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Patch story plan sequence",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerSavePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Story plan saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerSavePlanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/timeline": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get episode timeline",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "episodeId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "beatId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerTimelineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/world-summary": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Get world summary",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "projectId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "World summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerWorldSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/snapshots": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "List character snapshots",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "beatId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "characterId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerSnapshotList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Upsert character snapshot",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerUpsertSnapshotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerSnapshot"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/actions": {
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Dispatch storyteller action",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/generate-portrait": {
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Generate character portrait",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorytellerGeneratePortraitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerJobQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/generate-portrait/status": {
      "get": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Poll portrait job",
        "security": [
          {
            "Session": []
          },
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "runId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorytellerJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/storyteller/episodes/{episodeId}/generate-poster": {
      "post": {
        "tags": [
          "Storyteller"
        ],
        "summary": "Generate episode poster",
        "security": [
[...]
